streamlit==1.29.0
PyAudio
SpeechRecognition==3.10.1

pandas==2.1.4

python-dotenv==1.0.0

nltk==3.8.1
huggingface-hub==0.19.4
sentence-transformers==2.2.2

chromadb==0.4.20

tiktoken==0.5.2
openai==1.5.0

langchain==0.0.352